/* Colour Palette
#bdd4e7 - very lightblue
#7bb2d9 - lightblue
#33658a - blue
#637074 - lightgrey-ish
#212227 - very darkgrey
*/

/* Gobal styles
-----------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
a {
  color: #637074;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px;
  overflow: auto;
}
.col-narrow {
  width: 30%;
  float: left;
  min-height: 175px;
}
.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
  min-height: 175px;
}

/* Header and Footer styles
-----------------------------*/
header, footer {
  background: #212227;
  color: #bdd4e7;
}
/* header */
header {
  /* text-align: center; */
}
header h1, header h2 {
  color: #7bb2d9;
  margin: 0;
}
.profile-img {
  border-radius: 50%;
}
/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 20px;
  display: inline-block;
}

/* Work Experience styles
-----------------------------*/
.work {
  background: #bdd4e7;
}

/* Education styles
-----------------------------*/
.education {
  background: #7bb2d9;
}
